@media screen and (max-width: 480px) {
    .popupWindow {
        position: fixed;
        width: 100%;
        height: 100%;
    }
}

body {
   margin:0;
	
}

input {
    margin: 5px 0;
}

div {
    display: inline-block;
}

.hidden {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
}
.popup {
     min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.popupWindow {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #006666;
    color: #00CC99;
    padding: 20px 50px 50px;
}